name: Build and Eun Docker

on:
  push:
    branches: [main]
  jobs:
    build-and-run:
      runs-on: testserver2
      
      steps:
      - name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: my-app:latest
          push: false
      - name: Run Docker Container
        run: |
          docker run -d \
          --name my-app \
          -p 3000:3000 \
          my-app:latest
