name: Check
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install deps
        run: npm ci
      - name: lint
        run: npm run lint 
  tests:
    needs: [lint] #зависимости
    strategy: # стретегии
      matrix:
        version: [18, 20, 22]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.version }} # переменные
      - name: Install deps
        run: npm ci
      - name: test
        run: npm run test 
  secret:
    runs-on: ubuntu-latest
    steps:
      - name: Print secret
        run: echo ${{ secrets.TEST }} 
