name: Check
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install nodejs
        uses: actions/setup-node@v3
        with: 
          node-version: 20
      - name: Install Deps
        run: npm ci
      - name: lint
        run: npm run lint
  tests:
    needs: [lint]
    strategy:
      matrix:
        version: [18,20,22]
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install nodejs
        uses: actions/setup-node@v3
        with: 
          node-version: ${{ matrix.version }}
      - name: Install Deps
        run: npm ci
      - name: test
        run: npm run test
  secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Echo secrets
        run: echo ${{ secrets.TEST_SECRET }}