name: Check
on: push
jobs: 
  lint: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        useus: actions/checkout@v3
      - name: Install nodejs
        uses: actions/setup-node@v3
        with: 
          node-version: 20
      - name: Install Deps
        run: npm ci
      - name: Lint
        run: npm run lint
